*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0; 
} 

img, picture, svg, video {
    max-width: 100%;
}

body {
    min-height: 100vh;
}

// MIXINS & Variables

$green-color: #4E8934;

@mixin card-size{
    width: 300px;
    height: 400px;
}

@mixin card-border-radius {
    border-radius: 8px
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;

    .resource-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}


footer {
    grid-area: footer;
}


// Thanks to https://www.instagram.com/juliocodes/ for the idea/starter
.card {
	@include card-size;
	perspective: 800px;
    display: grid;
    // grid-area: main;

    // Spacing between cards
    // margin: 2rem;

    &__inner {
        position: relative;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.5s;
        text-align: center;
    }

    &:hover .card__inner {
        transform: rotateY(180deg);
    }

    &__body {
        position: absolute;
        inset: 0;
        display: grid;
        place-items: center;
        backface-visibility: hidden;
        @include card-border-radius;
        box-shadow: 0 5px 10px 
            rgba(0, 0, 0, 0.15);
    }
    
    &__body--front img{
        position: relative;
        @include card-size;
        object-fit: cover;
        @include card-border-radius;
    }
    
    &__body--front h2 {
        position: absolute;
        color: white;
    }

    &__body--back {
        background-image: url('../img/Card-bottom.png');
        background-repeat: no-repeat;
        transform: rotateY(180deg);
    }
    
    &__title {
        padding: 10px;

        .benefits, .description{
            overflow: auto;
            height: 100px;
            margin: 1rem 0;
        }

        .line1{
            display: flex;

            .nativeTo{
                padding: 0 1rem 0 0;
            }
        }
    }
}


// ############################################
// ############### Form Stuff #################
// ############################################

.create-form-section {
    width: 90%;
    form {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}



// ############################################
// ############## Mobile Stuff ################
// ############################################


@media (min-width: 40em){

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 5rem;
        
        .resource-cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

   
    
}
  
@media (min-width: 60em){
    main {
        .resource-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
  
@media (min-width: 80em){
    main {
        // How far from the top the cards are
        margin: 12rem 0;

        // How bright the images on the front of the cards are
        .card-img-url {
            filter: brightness(50%);
        }

        .loading {
            text-align: center;
        }

        .resource-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-left: 25rem;
            gap: 2rem 0;

            article {
                margin: 0;
            }
        }

        .create-form-section{
            width: 30%;
            object-fit: fill !important;
            grid-area: create; 
            position: fixed;

            form {
                width: 350px;

                input, textarea {
                    width: 100%;
                    padding: 5px 10px;
                    margin: 5px 10px;
                    border-radius: 50px;
                    border: 2px solid $green-color;
                    color: rgb(31, 56, 31);
                    font-size: 1rem;
                    background-image: url('../img/Card-bottom.png');
    
                    &::placeholder{
                        color: rgb(25, 25, 25);
                    }
                }
            }
            
            .form-submit-button {
                padding: 0 10px;

                button {
                    border: none;
                    border-radius: 40px;
                    background-color: $green-color;
                    border: 2px solid $green-color;
                    padding: 8px 20px;
                    color: white;
                    font-size: 1.1rem;

                    &:hover {
                        cursor: pointer;
                        background-color: white;
                        border: 2px solid $green-color;
                        transition: .2s ease-in-out;
                        color: black;
                    }
                }
            }
        }
    }
}