*, *::before, *::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

img, picture, svg, video {
  max-width: 100%;
}

body {
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
main .resource-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

footer {
  grid-area: footer;
}

.card {
  width: 300px;
  height: 400px;
  perspective: 800px;
  display: grid;
}
.card__inner {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  text-align: center;
}
.card:hover .card__inner {
  transform: rotateY(180deg);
}
.card__body {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  backface-visibility: hidden;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.card__body--front img {
  position: relative;
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}
.card__body--front h2 {
  position: absolute;
  color: white;
}
.card__body--back {
  background-image: url("../img/Card-bottom.png");
  background-repeat: no-repeat;
  transform: rotateY(180deg);
}
.card__body--back .buttons .view-button {
  color: black;
  text-decoration: none;
  margin: 0 10px 0 0;
  text-align: center;
  border: 1px solid white;
  padding: 0px 10px;
  border-radius: 50px;
  background-color: white;
}
.card__body--back .buttons .view-button:hover {
  cursor: pointer;
  border: 3px solid green;
  color: white;
  background-color: green;
}
.card__body--back .buttons .delete-resource {
  color: black;
  text-decoration: none;
  text-align: center;
  border: 3px solid white;
  background-color: none;
  border-radius: 50px;
  padding: 2px 10px;
}
.card__body--back .buttons .delete-resource:hover {
  border: 3px solid green;
  cursor: pointer;
  background-color: green;
  color: white;
}
.card__title {
  padding: 10px;
}
.card__title .benefits, .card__title .description {
  overflow: auto;
  height: 70px;
  margin: 1rem 0;
}
.card__title .line1 {
  display: flex;
}
.card__title .line1 .nativeTo {
  padding: 0 1rem 0 0;
}

.create-form-section {
  width: 90%;
}
.create-form-section form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}
.create-form-section input, .create-form-section textarea {
  width: 100%;
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 50px;
  border: 2px solid #4E8934;
  color: rgb(31, 56, 31);
  font-size: 1rem;
  background-color: rgb(145, 106, 73);
}
.create-form-section input::placeholder, .create-form-section textarea::placeholder {
  color: rgb(25, 25, 25);
}
.create-form-section .form-submit-button {
  padding: 10px;
}
.create-form-section .form-submit-button button {
  border: none;
  border-radius: 40px;
  background-color: #4E8934;
  border: 3px solid #4E8934;
  padding: 4px 20px;
  color: white;
  font-size: 1.1rem;
}
.create-form-section .form-submit-button button:hover {
  cursor: pointer;
  background-color: white;
  border: 3px solid #4E8934;
  transition: 0.2s ease-in-out;
  color: black;
}

@media (min-width: 40em) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
  }
  main .resource-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 60em) {
  main .resource-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  main .form-submit-button {
    padding: 10px 0;
  }
  main .form-submit-button button {
    border: none;
    border-radius: 40px;
    background-color: #4E8934;
    border: 3px solid #4E8934;
    padding: 4px 20px;
    color: white;
    font-size: 1.1rem;
  }
  main .form-submit-button button:hover {
    cursor: pointer;
    background-color: white;
    border: 3px solid #4E8934;
    transition: 0.2s ease-in-out;
    color: black;
  }
}
@media (min-width: 80em) {
  main {
    margin: 12rem 0;
  }
  main .card-img-url {
    filter: brightness(50%);
  }
  main .loading {
    text-align: center;
  }
  main .create-form-section {
    width: 30%;
    object-fit: fill;
    position: fixed;
    top: 22rem;
    left: 2rem;
  }
  main .create-form-section form {
    width: 350px;
  }
  main .create-form-section form input, main .create-form-section form textarea {
    width: 100%;
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 50px;
    border: 2px solid #4E8934;
    color: rgb(31, 56, 31);
    font-size: 1rem;
    background-color: rgb(145, 106, 73);
  }
  main .create-form-section form input::placeholder, main .create-form-section form textarea::placeholder {
    color: rgb(25, 25, 25);
  }
  main .create-form-section .form-submit-button {
    padding: 0 10px;
  }
  main .create-form-section .form-submit-button button {
    border: none;
    border-radius: 40px;
    background-color: #4E8934;
    border: 2px solid #4E8934;
    padding: 8px 20px;
    color: white;
    font-size: 1.1rem;
  }
  main .create-form-section .form-submit-button button:hover {
    cursor: pointer;
    background-color: white;
    border: 2px solid #4E8934;
    transition: 0.2s ease-in-out;
    color: black;
  }
  main .resource-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 25rem;
    gap: 2rem;
  }
  main .resource-cards article {
    margin: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
